body {
    background-color: rgb(150, 212, 150);
}
.class1 {
    width: 100px;
    height: 50px;
    transition: all 0.2s;
    background-color: blue;
}
.class1:hover {
transform: scale(2);
}
button {
    background-color: brown;
}