html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;}
    
    body {
   
    width: 100vw;
}
.section_2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.block_2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(6, 19vw);
    grid-template-areas: 
    "square1 square2 square3"
    "square4 square5 square6"
    "square7 square8 square9"
    "square10 square11 square12"
    "square13 square14 square15"
    "square16 square17 square18";
    row-gap: 0.74%;
    column-gap: 1.5%;
}
.square1, .square2, .square3, .square4, .square5, .square6,
.square7, .square8, .square9,
.square10, .square11, .square12,
.square13, .square14, .square15,
.square16, .square17, .square18 {
    background-image: url(./img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.square1 {
    grid-area: square1;
}
.square2 {
    grid-area: square2;
}
.square3 {
    grid-area: square3;
}
.square4 {
    grid-area: square4;
}
.square5 {
    grid-area: square5;
}
.square6 {
    grid-area: square6;
}
.square7 {
    grid-area: square7;
}
.square8 {
    grid-area: square8;
}
.square9 {
    grid-area: square9;
}
.square10 {
    grid-area: square10;
}
.square11 {
    grid-area: square11;
}
.square12 {
    grid-area: square12;
}
.square13 {
    grid-area: square13;
}
.square14 {
    grid-area: square14;
}
.square15 {
    grid-area: square15;
}
.square16 {
    grid-area: square16;
}
.square17 {
    grid-area: square17;
}
.square18 {
    grid-area: square18;
}