.small .thirdLine .left {
  width: 40%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10%;
  margin-right: 20%;
}
.small .thirdLine .left--whiteIconStart {
  width: 15%;
  height: 70%;
  font-size: 0.9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #18A0FB;
}
.small .thirdLine .left--whiteIconStart .left--download {
  width: 50%;
  height: 50%;
  margin-right: 5%;
}
.small .thirdLine .left--greyIconStart {
  width: 15%;
  height: 70%;
  font-size: 0.9vw;
  background-color: #E0E0E0;
  color: #878787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small .thirdLine .left--greyIconStart .left--download {
  width: 50%;
  height: 50%;
  margin-right: 5%;
}
.small .thirdLine .left--blackIconStart {
  width: 15%;
  height: 70%;
  font-size: 0.9vw;
  border-color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small .thirdLine .left--blackIconStart .left--download {
  width: 50%;
  height: 50%;
  margin-right: 5%;
}
.small .thirdLine .left--blueIconStart {
  width: 15%;
  height: 70%;
  font-size: 0.9vw;
  color: #18A0FB;
  border-color: #18A0FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small .thirdLine .left--blueIconStart .left--download {
  width: 50%;
  height: 50%;
  margin-right: 5%;
}