$blue: #18A0FB;
$background-grey: #E0E0E0;
$grey: #878787;
$black: black;
$fontWeight: 500;

@mixin buttonSmall {
    width: 15%;
    height: 70%;
    font-size: 0.9vw;
}

@mixin downloadIcon {
    width: 50%;
    height: 50%;
    margin-left: 5%;
}

@mixin downloadIconStart {
    width: 70%;
    height: 70%;
    margin-right: 7%;
}
.small .secondLine .left {
    width: 40%;
    height: 100%;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 20%;

    &--whiteIconEnd {
        display: flex;
        justify-content: center;
        align-items: center;
        @include buttonSmall;
        justify-self: center;
        background-color: $blue;
        border-color: $blue;

        .left--download {
            @include downloadIcon;
        }
    }

    &--greyIconEnd {
        display: flex;
        justify-content: center;
        align-items: center;
        @include buttonSmall;
        background-color: $background-grey;
        color: $grey;

        .left--download {
            @include downloadIcon;
        }
    }

    &--blackIconEnd {
        @include buttonSmall;
        border-color: $background-grey;
        display: flex;
        justify-content: center;
        align-items: center;

        .left--download {
            @include downloadIcon;
        }
    }

    &--blueIconEnd {
        @include buttonSmall;
        color: $blue;
        border-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;

        .left--download {
            @include downloadIcon;
        }
    }
}